/*default css*/


/* + * x * + * x * + * x * + * x * + * x * + * x

COLOR REFERENCE

red #EE3F2A
purple #51387D
blue #81B6E2
ark color #565F65

focus
	border-color:#EE3F2A;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237,38,35,.6);

x * + * x * + * x * + * x * + * x * + * x * + */



/* + * x * + * x * + * x * + * x * + * x * + * x

Common CSS

x * + * x * + * x * + * x * + * x * + * x * + */

html,body,#ultraWrapper{
	width:100%;
	overflow-x:hidden;
	-ms-overflow-y: hidden
	background-color:#fcfdfd;
	}

#ultraWrapper{
	position:relative;
}

label{
	cursor:pointer;
}


a{
	text-decoration:none;
	color:#51387D;
	transition:.5s;
}

a:hover{
	color:#B15061;
}

a:active{
	color:#EE3F2A;
	transition:0s;
}

ul{
	list-style-type:none;
}

li{
	margin:.5em 1.25em;
}

.button{
	background: #EE3F2A;
	border-radius:.3em;
	border:0;
	box-shadow:2px 2px 5px 0 rgba(0, 0, 0, 0.3) ;
	color:#E4F4FD;
	display:block;
	font-size:18pt;
	margin:auto;
	padding:.8em;
	text-align:center;
	text-decoration:none;
	font-family: 'Nunito', sans-serif;
	transition:.3s;

}

.button:hover{
	background-color:#EF5B2A;
	color:white;
	text-decoration:none;
	box-shadow:0 0 5px;
	transition:0s;
}

.button:active{
	background-color:#FCD6C4;
	color:black;

}

h1,h4{
	font-family: 'Nunito', sans-serif;
}

h1{
	text-align: center;
	font-size:1.7em;
}

#jayz{
	margin:0 1em;
	background-color:#FFF;
	position:relative;
	border:1px solid lightgrey;
	padding:3em 0 3em 0;
	font-family: 'Roboto', sans-serif;

}

.primary > *, .secondary > *, .thirdary > *{
	padding-left:20px;
	padding-right:20px;
	max-width:750px;
}

.primary{
	overflow:hidden;
	font-size:1.3em;
}

.success{
	color:#565F65;
	border:1px solid #565F65;
}

.failure{
	color:#EE3F2A;
	border:1px solid #EE3F2A;
}

.message_wrapper{
	background-color:white;
	position:absolute;
	z-index:700;
	width:95%;
	border-radius:1em;
	box-shadow:1px 1px 2px 0 rgba(0, 0, 0, 0.3);
	margin:0 .5em 1.5em;
	text-align:center;
}

.message{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	padding:.6em;

}

.upArrow{
	border-color:transparent;
	border-bottom:white;
	border-style:dashed dashed solid;
	width:10px;
	height:10px;
	border-width: 0 8.5px 8.5px;
	position:absolute;
}

.flagAlert{
	position:absolute;
	z-index:100;
	background-color:white;
	border:1px solid #51387D;
	color:#51387D;
	opacity:100%;
	font-size:10pt;
	padding:1em;
	width:100px;
	right:50%;
	border-radius:1em;
}

.avatar{
	height:2em;
	width:2em;
	display:table;
	cursor:pointer;
	border-radius:100%;
	border:2px solid rgba(0,0,0,.4);/* #51387D;*/
	background-size: 2em 2em;
	background-repeat: no-repeat;
	background-position:center;
	text-align:center;
	overflow:hidden;
	transition:.4s;
}

.avatar:hover{
	border:2px solid #EE3F2A;
}

.avatarText{
	font-size:15pt;
	color:rgba(0,0,0,0);
	opacity:0;
	display: table-cell;
	border-radius:100%;
	vertical-align: middle;
	font-family: 'Nunito', sans-serif;
	width:2em;
	height:2em;
	transition:.4s;
}

.avatarText:hover{
	color:dimgrey;
	opacity:1;
	background-color:rgba(255,255,255,.90);
	
}

.avatarBigger{
	height:8em;
	width:8em;
	background-size:8em 8em;
	background-position:center;
}

.avatarBigger.avatarText{
	height:8em;
	width:8em;
}

/* + * x * + * x * + * x * + * x * + * x * + * x

Bootstrap mod

x * + * x * + * x * + * x * + * x * + * x * + */

.form-control{
	border-top:none;
	border-right:none;
	border-left:none;
	box-shadow:none;
	border-radius:0;
}
    
.form-control:focus{
	border-color:#EE3F2A;
	box-shadow:none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

	background-color:#51387D;
	border-color:#51387D;

}

.pagination>li>a, .pagination>li>span{
	color:#51387D;
}

.pagination{
	margin-top:3em;
}


/* + * x * + * x * + * x * + * x * + * x * + * x

Header styles 


x * + * x * + * x * + * x * + * x * + * x * + */
    

#menu{
	font-size:1.5em;
	position:absolute;
	z-index:50;
	background-color:#565F65;
	padding-top:1em;
	/*top:6em;*/
	top:-15em;
	width:100%;
	
}


#menu a{
	color:white;
}

#menu li{
	z-index:150;
}

#menuBottomBorder{
	position:absolute;
	bottom:-2em;
	height:4em;
	z-index:-100;
	width:100%;
}

#sideMenu{
	display:none;
	font-family: 'Nunito', sans-serif;
	font-size:12pt;
	padding:0;
}

#sideMenu ul{
	margin-bottom:1em;
	width:100%;
}

.socials{
	display:block;
	margin-left:1em;
}

.socialFacebook,.socialTwitter,.socialPlus{
	fill:#cbcbcb;
	width:25%;
	max-width:3em;
	padding:.5em;
	display:inline;
}

.socialFacebook:hover rect{
	fill:#3B5999;
}

.socialTwitter:hover rect{
	fill:#2AA8E0;
}

.socialPlus:hover rect{
	fill:#CC3732;
}

.menuIcons{
	width:1.8em;
	height:1.1em;
	fill:#cbcbcb;
	transition:.1s;
}

#sideMenuUl2 .menuIcons{
	position:relative;
	top:.3em;
}

#sideMenuUl2 #menuIconsFlash{
	width:1.8em;
	padding-left:.3em;/*this actually shrinks it*/
	top:.1em;

}

#sideMenuUl1 #menuIconsCompass{
	position:relative;
	top:.25em;
}

#sideMenuUl1 lh, #sideMenuUl2 lh{
	color:grey;
	margin-left:.7em;
}

#menu lh{
	color:lightgrey;
}

#sideMenu #sideMenuUl1{
	padding-top:.5em;
	border-top:1px solid lightgrey;
}

#sideMenu #sideMenuUl2{
	padding-top:.5em;
	border-top:1px solid lightgrey;
	border-bottom:1px solid lightgrey;
	padding-bottom:1em;
}

#sideMenu a:hover .menuIcons{
	fill:#96c026;

}

#sideMenu a:hover{
	text-decoration:none;
}

#header{
	background-color:#E4F5FD;
	position: relative;
	height:10em;
	z-index:100;

    }

 
header img{
		width:12em;
		height:4.857142857em;
	}

 header{
	position:absolute;
	left:1em;
	top:1em;
	display:inline-block;
}

.menuButton{visibility:hidden;}

.mobileMenuButton{
	position:absolute;
	left:47%;
	bottom:1em;
	width:39px;
	background: url('/images/menuButton.png') no-repeat;
	transition:.1s;
	z-index:100;
}

.mobileMenuButton:hover{
	background-image: url('/images/menuButtonHover.png');
}

.mobileMenuButton:active{
	background-image: url('/images/menuButtonActive.png');
}

#userlogin{
	position:absolute;
	text-align:right;
	right:.5em;
	top:1em;
	font-size:20pt;
}

#userlogin .button{
	display:inline;
	margin-left:.5em;
	padding:.5em .3em;
	margin-top:1em;
	background-color:transparent;
	color:#565F65;
	border:2px solid #565F65;
	position:relative;
	top:.5em;
	font-size:14pt;
	box-shadow:none;

}

#userlogin .button:hover{
	border-color:#51387D;
	color:#51387D;
}

#registerLink{display:none;}

#usermenu{
	display:none;	
	background-color:white;
	font-size:12pt;
	padding:1em;
	width:200px;
	border-radius:1em;
	position:absolute;
	right:-1em;
	border-color:#EE3F2A;
	z-index:700;
	border:1px solid rgba(0,0,0,.4);
}

#usermenu .upArrow{
	top:-9px;
	right:35px;
}

#welcomephrase{
	font-size:14pt;
	display:block;
	width:6em;
}

#headerBottomBorder{
	position:absolute;
	bottom:-2em;
	height:4em;
	width:100%;
	z-index:-100;
}

/* + * x * + * x * + * x * + * x * + * x * + * x

Dashboard / Call to Action

x * + * x * + * x * + * x * + * x * + * x * + */


#calltoaction{
	font-size:12pt;
	text-align:justify;
	background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    width:100%;
}

#calltoaction span{
	font-size:20pt;
	font-family: 'Nunito', sans-serif;
	color:#EE3F2A;
	line-height:.5em;
}

#calltoaction .button{
	width:5.1em;
	margin:1em auto 4em;
	display:block;
}

#calltoaction p{
	/*padding:2.5em 1em;for handdrawn*/
	padding:2.5em 1.5em;
}

.calltoactionimg{
	position:absolute;
	top:2em;
	left:1em;
	width:200px;
	float:left;
	min-width:200px;
}

.noWidgets{
	text-align:center;
	border:1px dashed lightgrey;
	color:grey;
	padding:2em;
	margin:1em;
	border-radius:1em;
	margin-bottom:5em;
	transition:.1s;
}

.noWidgets:hover{
	color:darkgrey;
	-webkit-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.1);
}

.noWidgets:active{
	background-color:rgba(0,0,0,0.1);
	color:white;
}


#widgets{
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	line-height:2;
}

#widgets>div{
	margin:0 .5em;
	border-bottom:1px solid lightgrey;
	/*box-shadow:2px 2px 15px 0 rgba(0, 0, 0, 0.3) ;
	border-radius:1em;*/
}

/*#widgets>div:last-child{
	border-bottom:none;
}*/

#widgets>div h5{
	font-size:14pt;
	width:50%;
	display:inline-block;
}

/*     Widget Controls      */

.widget_controls{
	display:inline-block;
	position:absolute;
	right:.2em;
	float:right;
}

.widget_up, .widget_down, .widget_add, .widget_sub{
	cursor: pointer;
	background-color:#EE3F2A;
	border-radius:50%;
	display:inline-block;
	padding:auto;
	width:.8em;
	height:.8em;
	margin:.1em;
	font-size:25pt;
	position:relative;
	font-family: 'Nunito', sans-serif;
	color:white;
	text-align:center;
	line-height:.68em;
}

.widget_up{
	background-color:#81B6E2;
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg); 
	-o-transform:rotate(-180deg); 
	transform:rotate(-180deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.widget_up:hover{
    background-color: #96AFC7;
}

.widget_down{
	background-color: #819CD0;
}

.widget_down:hover{
	background-color:#9999B9;
}

.widget_add{
	background-color: #51387D;
}

.widget_add:hover{
	background-color:#6F3A51;
}

.widget_sub:hover{
	background-color:#EC5625;
}

.widget_up:active, .widget_down:active, .widget_add:active, .widget_sub:active{
	background-color:#FCD6C4;
	color:black;
}

.widget_answer{
	display:block;
	font-size:23pt;
	margin:1em 0;
	line-height:1;
	text-align:center;
}


/*       Add Menu      */

.addMenu{
	background-color:#51387D;
	color:white;
	width:15em;
	padding:1em;
	position:absolute;
	right:1em;
	border-radius: 1em;
	z-index:300;
	box-shadow:2px 2px 5px 0 rgba(0, 0, 0, 0.3) ;
}

.addMenu li{
	list-style:none;
}

.addMenu a{color:white;}

.addMenu li:hover, .addMenuCloseButton:hover, .addMenuNewGame:hover, .addMenu a:hover{
	color:#D7D1E8;
	cursor:pointer;
}

.addMenuCloseButton{
	float:right;
	color:#51387D;
	border-radius:50%;
	width:1em;
	height:1em;
	text-align:center;
	line-height:1;
	background-color:white;
}

.addMenuNewGame{
	color:white;
	font-size:.75em;
}


/*    Widget Inputs    */

#widgets select{
	background: transparent;
	font-size:15pt;
	border:1px solid black;

}

#widgets button{
	background: transparent;
	border:0;
	color:white;
	background-color:#EE3F2A;
	padding:0 .5em;
	border-radius: .5em;
}

#widgets button:hover{
	background-color:#EF5B2A;
}

#widgets button:active{
	background-color:#FCD6C4;
	color:black;
}

#widgets input{
	background:transparent;
	border:none;
	border-bottom:1px solid black;
	text-align:center;
	box-shadow:none;
}

#widgets input:focus{
	border-color:#EE3F2A;
	box-shadow:none;
	outline:0;
}



/* + * x * + * x * + * x * + * x * + * x * + * x

Articles

x * + * x * + * x * + * x * + * x * + * x * + */

#articles{
	position:relative;
}

.adventure{	
	display:none;
}

.spacing{
	display:none;
}

.primary article{
	padding-top:2em;
	position:relative;
	z-index:40;
	
}

.categoryIcon{
	height:1.5em;
	width:2.5em;
	margin-left:-.5em;
	margin-top:.5em;
}

.excerpt{
	
}

article h2 a{
	color:black;
	font-family: 'Nunito', sans-serif;
	
}

article h2{
	margin-top:0;
}

.articleCategory{
	margin-bottom:-.5em;
	margin-left:.2em;
}

.articleCategory a{
	font-size:12pt;
	color:#565F65;
}

.articleSocials{
	margin:2em 0;
}

.articleSocials div{
   display:inline;
}

.articleFacebook{
	padding-right:1em;
	position:relative;
	bottom:.3em;
}

.articleTwitter{
	padding:0 1em;
}

.articleGoogle{
	padding-left:1em;
}

.nextPage{
	margin:1em;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video {
	top: 0;
	left: 0;
	width: 200px;
	height: 113px;
}

article img{
	width:100%;
	margin:1em 0;
}


/* + * x * + * x * + * x * + * x * + * x * + * x

Get Started Page

x * + * x * + * x * + * x * + * x * + * x * + */
    
#getstarted{

	margin:1em;

}

#getstarted h3, #getstarted h4{
	margin-left:-0.5em;
}

#getstarted strong{
	color:#EE3F2A;
}

/* + * x * + * x * + * x * + * x * + * x * + * x

Log in / Register

x * + * x * + * x * + * x * + * x * + * x * + */

#registerPart1{
	display:block;
	max-width:400px;
	clear:both;
	margin:auto;
	padding-bottom:3em;
}

#registerPart2{
	display:block;
	max-width:500px;
	clear:both;
	margin:auto;
}

#loginfields{
	margin:1em 3em;
}

.g-recaptcha{
	position:relative;
	left:-2em;
}

.terms label{
	display:inline;
	padding-left:1em;
}

.terms{
	margin:1em 0;
	font-size:16pt;
}

#changePassword, #updateEmail{
	padding:1em 2em;
	margin: 0 3em;
	color:white;
	background-color: #819CD0;
	font-size:1em;
	border-radius:1em;
	transition:.4s;
}

#changePassword:hover, #updateEmail:hover{
	background-color: #EF5B2A;
}

#changePassword{margin-top:2em;}
#updateEmail{margin-bottom:5em;}

.tags{
	margin:2em 0 5em;
	text-align:left;
	
}


.tag input, .rememberme input{
	margin:.2em;
}

.tag {
	display:block;
	margin:.4em 1em;
	position:relative;
	font-size:1.4em;

}

.tag label{
	display:inline-table;
	position:relative;
	top:.5em;
	height:2.5em;
	line-height:2em;
	width:80%;
}

.registerIcons{
	height:2em;
	width:2em;
	margin-right:.4em;
	position:relative;
	top:.2em;
	display:table-cell;

}

.tag div{
	display:table-cell;
	vertical-align:middle;
	line-height:normal;
	width:100%;
}

.rememberme{
	float:left;
}

.forgotpassword{
	float:right;
	margin:10px 0;
}

/* avatar select */

.avatarChooserWrap{
	background-color:rgba(255,255,255,.90);
	position:fixed;
	width:100%;
	height:100%;
	display: table;
	display: none;
	text-align:center;
	z-index:500;
	left:0;
	top:0;
	max-width:none;
}

.avatarChooser{
  display: table-cell;
  vertical-align: middle;


}

.avatarChoose{
	display:inline;
	overflow:hidden;
	font-style: italic;
	font-size:15pt;
}

.avatarChoose:nth-child(2n):after{
	content:"\a";
    white-space: pre;	
}

.avatarImg{
	width:6em;
	cursor:pointer;
	border-radius:100%;
	border:5px solid #51387D;
}

.avatarImg.selected{
	border:5px solid #EE3F2A;
}

.gravChoose{
	cursor:pointer;
	color:#51387D;
	transition:.1s;
}

.gravChoose.selected{
	color:#EE3F2A;
}

.registerForm .avatar{
	margin-left:auto;
	margin-right:auto;
}



/* + * x * + * x * + * x * + * x * + * x * + * x

Single Game Pages

x * + * x * + * x * + * x * + * x * + * x * + */


#what_youll_need, #long_desc, #variations,#good_prompts{
	margin:3em 3em;
}

#what_youll_need h2, #long_desc h2, #variations h2{
	margin:.5em -.5em .5em;
}

#good_prompts li{
	list-style-type:circle;
}

#good_prompts lh{
	font-size:1.2em;
}

#widget_options{
	float:right;
	color:#FFF;
	cursor: pointer;
	background-color:lightgrey;
	padding:.5em 1em;
	font-size:.8em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	transition:.3s;
}

#widget_options:hover{
	background-color:#51387D;
}

#widgetOnly{
	margin:1em auto;
	max-width:750px;
	border-left:1px solid lightgrey;
	border-right:1px solid lightgrey;
}

#widgetOnly div{
	border:none;
}



    

/* + * x * + * x * + * x * + * x * + * x * + * x

Top Games / New Games

x * + * x * + * x * + * x * + * x * + * x * + */


.newGame, .topGame{

	padding:0 .5em;
	margin:3em 0;
}

.newGameIcon, .topGameIcon{
	height:3em;
	float:left;
}

.newGameTitle, .topGameTitle{
	margin-bottom:.5em;
	
	font-weight:bolder;

}

.newGameText, .topGameText{
	margin-left:4em;
}


/* + * x * + * x * + * x * + * x * + * x * + * x

Random article Button

x * + * x * + * x * + * x * + * x * + * x * + */

.randomButton{
	position:fixed;
	bottom:0;
	z-index:500;
	width:100%;
	height:6em;
}

.randomButtonDesktop{
	position:absolute;
	margin:0 auto;
	color:#EE3F2A;
	top:2em;
}

.randomButtonMobile{
	position:absolute;
	border-radius:100%;
	right:2em;
	width:5em;
	height:5em;
	background-color:#EE3F2A;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3) ;

}

.randomButtonImage{
	width:3em;
	height:3em;
	position:relative;
	top:.7em;
	left:.5em;
}




/* + * x * + * x * + * x * + * x * + * x * + * x

Footer

x * + * x * + * x * + * x * + * x * + * x * + */
    
#footer{
	padding:5.5em;
	margin-top:2.8em;
	font-size:8pt;
	float:left;
}



/* + * x * + * x * + * x * + * x * + * x * + * x

Ads

x * + * x * + * x * + * x * + * x * + * x * + */

.googleAd{
	border-top:1px solid lightgrey;
	border-bottom:1px solid lightgrey;
	padding:2.5em 0;
}






















/* + * x * + * x * + * x * + * x * + * x * + * x

Widget Specific

Prompter

x * + * x * + * x * + * x * + * x * + * x * + */
    

select.prompter_options{
	width:60%;
	margin-right:5%;
}

.prompter_submit{
	width:35%;
	
}


/* + * x * + * x * + * x * + * x * + * x * + * x

Channel Switcher

x * + * x * + * x * + * x * + * x * + * x * + */


.channelSwitcher_options{
	width:100%;
}

.channelSwitcher_start, .channelSwitcher_stop{
	position:relative;
	width:30%;
	float:right;
	bottom:2em;
}

.channelSwitcher_answer{
	width:100%;
	margin:2em 0;
}

.channelSwitcher_intervals{
	margin:1em 0;
	display:block;
}

.channelSwitcher_varied{
	display:block;
}

.channelSwitcher_varied label{
	position:relative;
	left:.5em;
}

.inseconds{
	font-style:italic;
}



/* + * x * + * x * + * x * + * x * + * x * + * x

Acronym

x * + * x * + * x * + * x * + * x * + * x * + */


.acronym_show_def{
	display:block;
}

.acronym_show_def label{
	position:relative;
	left:.5em;
}





