/*default css*/


/* + * x * + * x * + * x * + * x * + * x * + * x

Common CSS

x * + * x * + * x * + * x * + * x * + * x * + */

html,body,#ultraWrapper{
	width:100%;
	overflow-x:hidden;
	-ms-overflow-y: hidden
	font-family: 'Roboto', sans-serif;
	background-color:#fcfdfd;
	}

#ultraWrapper{
	position:relative;
}


a{
	text-decoration:none;
	color:#51387D;
	transition:.5s;
}

a:hover{
	color:#B15061;
}

a:active{
	color:#EE3F2A;
	transition:0s;
}

ul{
	list-style-type:none;
}

li{
	margin:.5em 1.25em;
}

.button{
	background: #EE3F2A;
	border-radius:.3em;
	border:0;
	box-shadow:2px 2px 5px 0 rgba(0, 0, 0, 0.3) ;
	color:#E4F4FD;
	display:block;
	font-size:18pt;
	margin:auto;
	padding:.8em;
	text-align:center;
	text-decoration:none;
	transition:.3s;

}

.button:hover{
	background-color:#EF5B2A;
	color:white;
	box-shadow:0 0 5px;
	transition:0s;
}

.button:active{
	background-color:#FCD6C4;
	color:black;

}

h1,h4{
	font-family: 'Nunito', sans-serif;
}

h1{
	text-align: center;
}

#jayz{
	margin:0 1em;
	background-color:#FFF;
	position:relative;
	border:1px solid lightgrey;
	padding:3em 1em 0 1em;

}

.success{
	color:#565F65;
	border:1px solid #565F65;
}

.failure{
	color:#EE3F2A;
	border:1px solid #EE3F2A;
}

.message_wrapper{
	background-color:white;
	border-radius:1em;
	box-shadow:1px 1px 2px 0 rgba(0, 0, 0, 0.3);
	margin:0 .5em 1.5em;
	text-align:center;
}

.message{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	padding:.6em;

}

.flagAlert{
	position:absolute;
	z-index:100;
	background-color:white;
	border:1px solid #51387D;
	color:#51387D;
	opacity:100%;
	font-size:10pt;
	padding:1em;
	width:100px;
	right:50%;
	border-radius:1em;
}



/* + * x * + * x * + * x * + * x * + * x * + * x

Header styles 


x * + * x * + * x * + * x * + * x * + * x * + */
    

#menu{
	font-size:1.5em;
	position:absolute;
	z-index:50;
	background-color:#565F65;
	padding-top:1em;
	/*top:6em;*/
	top:-5em;
	width:100%;
	
}

#menu a{
	color:white;
}

#menu li{
	z-index:150;
}

#menuBottomBorder{
	position:absolute;
	bottom:-2em;
	height:4em;
	z-index:-100;
	width:100%;
}

#sideMenu{display:none;}

#header{
	background-color:#E4F5FD;
	position: relative;
	height:10em;
	z-index:100;

    }

 header img{width:13em;}

 header{
	position:absolute;
	left:1em;
	top:1em;
	display:inline-block;
}

.menuButton{visibility:hidden;}

.mobileMenuButton{
	position:absolute;
	left:47%;
	bottom:1em;
	width:39px;
	background: url('/images/menuButton.png') no-repeat;
	transition:.1s;
	z-index:100;
}

.mobileMenuButton:hover{
	background-image: url('/images/menuButtonHover.png');
}

.mobileMenuButton:active{
	background-image: url('/images/menuButtonActive.png');
}

#userlogin{
	position:absolute;
	text-align:right;
	right:1em;
	top:1.3em;
	font-size:20pt;
}

#welcomephrase{
	font-size:14pt;
	display:block;
	width:6em;
}

#headerBottomBorder{
	position:absolute;
	bottom:-2em;
	height:4em;
	width:100%;
	z-index:-100;
}

/* + * x * + * x * + * x * + * x * + * x * + * x

Dashboard / Call to Action

x * + * x * + * x * + * x * + * x * + * x * + */


#calltoaction{
	padding:0 .5em;
	font-size:14pt;
	text-align:justify;
}

#calltoaction .button{
	width:5.1em;
	margin-top:2em;
	margin-bottom:4em;
}

.noWidgets{
	text-align:center;
	border:1px dashed lightgrey;
	color:grey;
	padding:2em;
	border-radius:1em;
	transition:.1s;
}

.noWidgets:hover{
	color:darkgrey;
	-webkit-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 0px 17px -2px rgba(0,0,0,0.1);
}

.noWidgets:active{
	background-color:rgba(0,0,0,0.1);
	color:white;
}


#widgets{
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	line-height:2;
}

#widgets>div{
	margin:0 .5em;
	border-bottom:1px solid lightgrey;
	/*box-shadow:2px 2px 15px 0 rgba(0, 0, 0, 0.3) ;
	border-radius:1em;*/
}

#widgets>div h5{
	font-size:14pt;
	width:50%;
	display:inline-block;
}

/*     Widget Controls      */

.widget_controls{
	display:inline-block;
	position:absolute;
	right:.2em;
	float:right;
}

.widget_up, .widget_down, .widget_add, .widget_sub{
	cursor: pointer;
	background-color:#EE3F2A;
	border-radius:50%;
	display:inline-block;
	padding:auto;
	width:.8em;
	height:.8em;
	margin:.1em;
	font-size:25pt;
	position:relative;
	font-family: 'Nunito', sans-serif;
	color:white;
	text-align:center;
	line-height:.68em;
}

.widget_up{
	background-color:#81B6E2;
	line-height:1em;
	top:.16em;
}

.widget_up:hover{
    background-color: #96AFC7;
}

.widget_down{
	background-color: #819CD0;
}

.widget_down:hover{
	background-color:#9999B9;
}

.widget_add{
	background-color: #51387D;
}

.widget_add:hover{
	background-color:#6F3A51;
}

.widget_sub:hover{
	background-color:#EC5625;
}

.widget_up:active, .widget_down:active, .widget_add:active, .widget_sub:active{
	background-color:#FCD6C4;
	color:black;
}


/*       Add Menu      */

.addMenu{
	background-color:#51387D;
	color:white;
	width:15em;
	padding:1em;
	position:absolute;
	right:1em;
	border-radius: 1em;
	z-index:300;
	box-shadow:2px 2px 5px 0 rgba(0, 0, 0, 0.3) ;
}

.addMenu li{
	list-style:none;
}

.addMenu a{color:white;}

.addMenu li:hover, .addMenuCloseButton:hover, .addMenuNewGame:hover, .addMenu a:hover{
	color:#D7D1E8;
	cursor:pointer;
}

.addMenuCloseButton{
	float:right;
	color:#51387D;
	border-radius:50%;
	width:1em;
	height:1em;
	text-align:center;
	line-height:1;
	background-color:white;
}

.addMenuNewGame{
	color:white;
	font-size:.75em;
}


/*    Widget Inputs    */

#widgets select{
	background: transparent;
	font-size:15pt;
	border:1px solid black;

}

#widgets button{
	background: transparent;
	border:0;
	color:white;
	background-color:#EE3F2A;
	padding:0 .5em;
	border-radius: .5em;
}

#widgets button:hover{
	background-color:#EF5B2A;
}

#widgets button:active{
	background-color:#FCD6C4;
	color:black;
}

#widgets input{
	background:transparent;
	border:1px solid black;
}


/* + * x * + * x * + * x * + * x * + * x * + * x

Get Started Page

x * + * x * + * x * + * x * + * x * + * x * + */
    
#getstarted{

	margin:1em;
	text-align: justify;

}

#getstarted h3, #getstarted h4{
	margin-left:-0.5em;
}

/* + * x * + * x * + * x * + * x * + * x * + * x

Log in / Register

x * + * x * + * x * + * x * + * x * + * x * + */

.loginfield{
	margin:1em 3em;
}

.loginfield input{
	display:block;
	width:100%;
	font-size:20pt;
	height:2em;
}

.tags{
	margin:2em 2em 5em;
	text-align:left;
	
}


.tag input, .rememberme input{
	margin:.2em;
}

.tag {
	display:block;
	margin:.4em 1em;
	position:relative;
	font-size:2em;

}

.registerIcons{
	height:1em;
	margin-right:.4em;
	position:relative;
	top:.2em;
}

label{
	cursor:pointer;
}

.rememberme{
	margin:0 3em 1.5em;
}


/* + * x * + * x * + * x * + * x * + * x * + * x

Single Game Pages

x * + * x * + * x * + * x * + * x * + * x * + */


#what_youll_need, #long_desc, #variations{
	margin:3em 3em;
}

#what_youll_need h2, #long_desc h2, #variations h2{
	margin:0 -.5em;
}

#widget_options{
	float:right;
	color:#FFF;
	cursor: pointer;
	background-color:lightgrey;
	padding:.5em 1em;
	font-size:.8em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	transition:.3s;
}

#widget_options:hover{
	background-color:#51387D;
}

#widgetOnly{
	margin:1em auto;
	max-width:750px;
	border:1px solid lightgrey;
}

#widgetOnly div{
	border:none;
}




    

/* + * x * + * x * + * x * + * x * + * x * + * x

Top Games / New Games

x * + * x * + * x * + * x * + * x * + * x * + */


.newGame, .topGame{

	padding:0 .5em;
	margin:3em 0;
}

.newGameIcon, .topGameIcon{
	height:3em;
	float:left;
}

.newGameTitle, .topGameTitle{
	margin-bottom:.5em;
}

.newGameText, .topGameText{
	margin-left:4em;
}

/* + * x * + * x * + * x * + * x * + * x * + * x

Footer

x * + * x * + * x * + * x * + * x * + * x * + */
    
#footer{
	padding:5.5em;
	margin-top:2.8em;
	font-size:8pt;
	float:left;
}



/* + * x * + * x * + * x * + * x * + * x * + * x

Ads

x * + * x * + * x * + * x * + * x * + * x * + */

.googleAd{
	border-top:1px solid lightgrey;
	border-bottom:1px solid lightgrey;
	padding:2.5em 0;
}






















/* + * x * + * x * + * x * + * x * + * x * + * x

Widget Specific

Prompter

x * + * x * + * x * + * x * + * x * + * x * + */
    

select.prompter_options{
	width:60%;
	margin-right:5%;
}

.prompter_submit{
	width:35%;
	
}

.prompter_answer{
	display:block;
	font-size:23pt;
	margin:1em 0;
	line-height:1;
	text-align:center;
}



/* + * x * + * x * + * x * + * x * + * x * + * x

Channel Switcher

x * + * x * + * x * + * x * + * x * + * x * + */


.channelSwitcher_options{
	width:100%;
}

.channelSwitcher_start, .channelSwitcher_stop{
	position:relative;
	width:30%;
	float:right;
	bottom:2em;
}

.channelSwitcher_answer{
	display:block;
	width:100%;
	font-size:23pt;
	margin:2em 0;
	line-height:1;
	text-align:center;
}

.channelSwitcher_intervals{
	margin:1em 0;
	display:block;
}

.channelSwitcher_varied{
	display:block;
}

.inseconds{
	font-style:italic;
}












