/* + * x * + * x * + * x * + * x * + * x * + * x

Styles for /gamelist

x * + * x * + * x * + * x * + * x * + * x * + */

.newGameBoxes{
	margin:5em 0;
	border-radius:1em;
}

.newGameBox{
	width:85%;
	padding:1em;
	margin:auto 1%;
	font-size:.9em;
	vertical-align:top;
	border:1px solid lightgrey;
	}

.newGameBoxName{
	margin:0 0 .5em;
}

.gameName h5{
	margin:1em 0 .3em;
	font-size:1.01em;
	font-family: 'Nunito', sans-serif;
	display:inline-block;
}

.gameDesc{
	color:#544D66;
	margin-left:.5em;
}

#gameListTitle{
	display:inline-block;
}

#gameListChanger{
	float:right;
	margin: 1.33em 0;
}

.gameListIcons{
	display:inline-block;
	padding-top:.3em;
	height:1em;
	overflow:visible;
}

.gameListIcon{
	position:relative;
	height:1.1em;
	float:left;
	top:.2em;
	padding:0 .1em;
}

.gameListIcon:hover{
	height:3em;
	top:-.8em;
	padding:0;
}

@media screen and (min-width: 480px){

	.newGameBoxes{
		display: table;
	}


	.newGameBox{
		width:30%;
		display: table-cell;

	}




}