/* + * x * + * x * + * x * + * x * + * x * + * x

Start with any CSS for non mobile sceens

x * + * x * + * x * + * x * + * x * + * x * + */

@media screen and (min-width: 600px){

	h1{font-size:16pt;}

	#jayz{
		width:96%;
		float:left;
		padding:0;
		position:relative;
	}

	.primary, .secondary, .thirdary, .fullwidth{
		display:inline-block;
		position:relative;
		padding-top:4em;
		height:100%;
	}

	.button{
		padding:.3em .8em;
	}


	#header{
		height:6.3em;
		width:100%;
		position:fixed;
		top:0;
		border-bottom:1em solid #565F65;
    }

	header img{width:12em;}

	#headerBottomBorder{
		display:none;
	}

	header{
		top:.1em;
		left:2em;
	}

	#userlogin{
		position:absolute;
		text-align:right;
		right:1em;
		top:.4em;
	}

	#userlogin .button{
		padding:.2em .5em;
		font-size:12pt;
		top:.6em;
	}

	#registerLink{
		display:inline;
		color:#565F65;
		position:relative;
		top:.6em;
		font-size:12pt;
	}

	#sideMenu{display:block;}
	#menu{display:none;}
	.mobileMenuButton{display:none;}

	ul{padding:0;}


	.button{
		font-size:14pt;
	}

	#welcomephrase{
		font-size:11pt;
		width:auto;
	}


	/* Call to Action / Dashboard */


	#calltoaction p{ 
		padding:2.5em 1em 1em;
	}

	.calltoactionimg{
		top:6em;
		left:1em;
	}

	#calltoaction span{
		font-size:23pt;
	}

	#calltoaction .button{
		width:97%;
		margin:1em 1.5% 4em;
		font-size:19pt;

	}

	#widgets{
		margin-bottom:10em;
	}

	#widgets>div h5{
		font-size:12pt;
	}

	.widget_up, .widget_down, .widget_add, .widget_sub{
		padding:.02em;
		font-size:14pt;
	}

	/* widget inputs */

	#widgets h5{
		margin:.5em 0;
	}

	#widgets select{
		font-size:12pt;
	}

	#widgets button{
		font-size:12pt;
	}

	#widgets input{
		font-size:12pt;
	}

	.widget_answer{
		font-size:14pt;
		height:5em;
		width:100%;
  		line-height: 5em;
  		text-align:center;
	}

	.widget_answer span{
		display:inline-block;
		vertical-align:center;
		line-height:normal;
	}

	/* articles */

	.primary article{
		padding:1em 2.5em 1em;
	}

	.adventure{	
		display:block;
		position:absolute;
		top:-5em;
		right:1em;
		float:right;
		z-index:0;
	}

	.spacing{
		display:block;
	}

	/* new games / top games */

	.newGame, .topGame{
		font-size:10pt;
		padding:0 .5em;
		margin:1em 0;
	}

	#newGames h4, #topGames h4 {
		font-size:12pt;
		padding:0;
		margin-bottom:0;
	}

	.newGameIcon, .topGameIcon{
		height:2.5em;
		padding-right:1em;

	}

	.newGameTitle, .topGameTitle{
		font-size:1.1em;
		height:2em;
		line-height:2em;
		display:table;
	}

	.newGameTitle:nth-child(1),.newGameTitle:nth-child(1){
		margin-top:.5em;
	}

	.newGameTitle a, .topGameTitle a{
		display: table-cell;
		vertical-align:middle;
		line-height:normal;
	}

	.newGameText, .topGameText{
		margin-left:0em;
	}




	/* login / register pages */


	#loginfields{
		text-align:left;
		margin:0 1em 0 0;
		float:right;
		width:55%;
	}

	#loginfields label{
		display:none;
	}

	#loginfields .showLabel {
		display:inline;
		text-align:left;
		font-size:.8em;
		position:relative;
		left:-.5em;
		margin-top:.3em;
	}


	.editInfo{
		margin-top:0;
		margin-bottom:5em;
	}

	#changePassword, #updateEmail{
		padding:0;
		margin: .2em;
		color:inherit;
		background-color:inherit;
		font-size:1em;
		border-radius:0;
		display:inline-block;
	}

	#changePassword:hover, #updateEmail:hover{
		background-color: inherit;
	}

	#changePassword{margin-top:2em;}
	#updateEmail{margin-bottom:0;}

	.registerForm .avatar.avatarBigger{
		float:left;
		width:6.5em;
		height:6.5em;
		position:relative;
		background-size:6.5em 6.5em;
		margin:.2em 1em;

	}

	#registerAvatar{
		top:3em;
	}

	.loginfield input{
		display:inline-block;
		margin:.2em;	
		font-size:12pt;
		height:1em;
		float:right;
	}

	.tags{
		display:block;
		clear:both;
	}

	.tag {
		display:inline-block;
		width:40%;
		margin:.4em 1em;
		position:relative;
		font-size:1em;
		float:left;
	}

	.tag:nth-child(2n+1){float:right;}

	.registerIcons{
		height:2em;
		margin-right:.4em;
		position:relative;
		top:.2em;
	}


	#registerPart2 .button{
		clear:both;
		position:relative;
		top:2em;
	}






	/* Widget Specific */

	/* Prompter */


	.prompter_answer span{
		display:inline-block;
		vertical-align:center;
		line-height:normal;

	}




	/* Channel Switcher */


	.channelSwitcher_start, .channelSwitcher_stop{
		float:right;
		display:inline-block;
		position:static;
		margin-top:.5em;

	}

	.channelSwitcher_answer{
		font-size:14pt;
		height:5em;
		width:100%;
  		line-height: 5em;
  		text-align:center;

	}


	.channelSwitcher_intervals{
		font-size:.7em;
		display:inline-block;

	}

	.channelSwitcher_varied{
		display:inline-block;
		margin-left:2em;

	}

	.inseconds{
		line-height:1em;
		color:grey;
		vertical-align:middle;
	}

} 


/* + * x * + * x * + * x * + * x * + * x * + * x

Two column layout

Spacing for Smallish Screens/windows

x * + * x * + * x * + * x * + * x * + * x * + */
    

@media screen and (min-width: 600px) and (max-width: 900px){

	.primary{
		width:62%;
		float:right;
		padding-top:7em;
		border-left:1px solid lightgrey;
	}

	.secondary, .thirdary{
		width:38%;
		float:left;
		
	}

	.secondary{
		padding-top:8em;
	}

	/* Call to Action / Dashboard */




}

/* + * x * + * x * + * x * + * x * + * x * + * x

Three-column layout

Spacing for Big Screens/windows

x * + * x * + * x * + * x * + * x * + * x * + */
    

@media screen and (min-width: 900px){

	.primary{
		width:63.2%;
		padding:7em 0;
		border-right:1px solid lightgrey;
		border-left:1px solid lightgrey;
	}


	.secondary{
		float:left;
	}

	.thirdary{
		float:right;
	}

	.secondary, .thirdary {
		padding-top:8em;
		width:18.4%;
	}



	.avatarChoose:nth-child(2):after{
		content:"";
	}


	/* register/login pages */

	#registerPart1{
		display:block;
		max-width:475px;
	}

	#loginfields{
		width:60%;
		margin:.2em 1em;
	}

	.registerForm .avatar.avatarBigger{
		height:8em;
		width:8em;
		background-size: 8em 8em;
	}



}

